<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Achieve</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="main-header">
            <p class="flash"><%= notice %><%= alert %>
        </section>
        <section>
        <h1>About</h1>
        <p>
            このサイトは写真をアップロードするサイトです<br>
        </p>
        </section>

    </body>
</html>
